<div class="container">
  <mat-card>
    <mat-card-content>
      <h1>
        View Employee Details
    </h1>
    <table class="table table-striped">
        <tr>
            <th scope="col">Id</th>
            <td>{{employee.id}}</td>
          </tr>
          <tr>
            <th scope="col">First Name</th>
            <td>{{employee.firstName}}</td>
          </tr>
          <tr>
            <th scope="col">Last Name</th>
            <td>{{employee.lastName}}</td> 
          </tr>
          <tr >
            <th scope="col">Email Id</th>
            <td>{{employee.emailId}}</td>
          </tr>
      </table>
    </mat-card-content>
  </mat-card>
    
</div>
